<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Search</h2>
  </div>

  <div class="card-body">

    <app-flight-filter
      [filter]="localState.filter()"
      (searchTrigger)="filterChange($event)"
    >
      <div class="flight-filter-info">
        @if (bookingFeature.flights().length) {
          {{ bookingFeature.flights().length }} flights found!
        }
      </div>
    </app-flight-filter>

  </div>
</div>

<div class="row">
  @for (flight of bookingFeature.flights(); track flight.id) {
    <div class="col-xs-12 col-sm-6 col-md-4">
      <app-flight-card
        [item]="flight"
        [selected]="localState.basket()[flight.id]"
        (selectedChange)="basketIdUpdate(flight.id, $event)"
      />
    </div>
  }
</div>

<div class="card">
  <div class="card-header">
    <h2 class="card-title">Basket</h2>
  </div>

  <div class="card-body">
    <pre>{{ localState.basket() | json }}</pre>
  </div>
</div>
